{% extends "layout.html" %} 
{% load humanize %}
{% block content %}
    <div class="container mt-5">
        <div class="row bg-white">
            <div class="col-md-5">
              <img src="{{ product.image.url }}" alt="" style="width: 400px; height: 550px;">

            </div>
            <div class="col-md-7">
                <h1>{{ product.name}}</h1>
                <h5 class="card-title text-danger mt-3">{{ product.price |floatformat | intcomma }} VND</h5>
                <p class="mt-5">{{ product.detail }}</p>
            </div>
        </div>
    </div>
    
{% endblock content %}